@using MedicalQuiz.Data

@{
    ViewData["Title"] = "Quiz";
}


    <style>
        .dzsap-sticktobottom .dzsap-sticktobottom-for-skin-wave{
        bottom: 0;
        opacity: 1;
     }
    </style>    
    


@section scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/wavesurfer.js"></script>

    
    <script type="text/javascript">
        $("#ref1Img").on('click', function(e)
        {
            e.preventDefault()
            if(sessionStorage.getItem("QuizType") === "0")
            {
                $("#ref1Img").css('width', '120%')
                $("#ref2Img").hide()
            }
            
        })
        
        $("#ref2Img").on('click', function(e)
        {
            e.preventDefault()
            if(sessionStorage.getItem("QuizType") === "0")
            {
                $("#ref2Img").css('width', '120%')
                $("#ref1Img").hide()
            }
        })

        $("#btnReset").on('click', function(e)
        {
            e.preventDefault()
            $("#ResultPanel").html('')
            $("#ref1Img").css('width', '100%')
            $("#ref2Img").css('width', '100%')
            $("#ref1Img").show()
            $("#ref2Img").show()
        })

        $('#btnHit').on('click', function(e){
            if($("#ref1Img")[0].style.display === 'none'  && $("#ref2Img")[0].style.display === '')
            {
                $("#ResultPanel").html('')
                $("#ResultPanel").html('Hit')
            }   
            else if($("#ref1Img")[0].style.display === ''  && $("#ref2Img")[0].style.display === 'none')
            {
                $("#ResultPanel").html('')
                $("#ResultPanel").html('Wrong')
            }   
            else if($("#ref1Img")[0].style.display === ''  && $("#ref2Img")[0].style.display === '')
            {
                $("#ResultPanel").html('')
                $("#ResultPanel").html('not selected')
            }
        })
        $('#btnPrevPage').on('click', function(e){
            e.preventDefault()
            current_width = get_currentprogressBar_value()
            if(current_width >= 0)
                new_width = parseInt(current_width) - 1
            else 
                new_width = 0

            updateProgressBar(new_width)
            
            $.ajax({
                url: "@Url.Action("GetQuiz")", 
                type: 'Post',
                dataType: 'json',
                data: {
                    id : get_currentprogressBar_value() -1
                },
                success: function (quizContent)
                {   
                    UpdatePage(quizContent)
                }
            })

           
        })

        $('#btnNextPage').on('click', function(e){
            e.preventDefault()
            current_width =  get_currentprogressBar_value()
            if(current_width < 100)
                new_width = parseInt(current_width) + 1
            else 
                new_width = 0
            
            updateProgressBar(new_width)    

            $.ajax({
                url: "@Url.Action("GetQuiz")", 
                type: 'Post',
                dataType: 'json',
                data: {
                    id : get_currentprogressBar_value() -1
                },
                success: function (quizContent)
                {   
                    UpdatePage(quizContent)
                }
            })
        })

        function ShowWelComePage()
        {
            $('#welcomePage').show()
            $('#ref1Img').hide()
            $('#ref2Img').hide()
            $('#waveform').hide()
            $('#btnPlay').hide()
            $('#btnStop').hide()
            $('#btnReset').hide()
            $('#btnHit').hide()
        }
        function HideWelComePage()
        {
            $('#welcomePage').hide()
            $('#ref1Img').hide()
            $('#ref2Img').hide()
            $('#waveform').hide()
            $('#btnPlay').hide()
            $('#btnStop').hide()
            $('#btnReset').hide()
        }

        var image_selection_boundary_startX
        var image_selection_boundary_startY
        var image_selection_boundary_endX
        var image_selection_boundary_endY
        function UpdatePage(quizContent)
        {
            $("#ResultPanel").html('')
            if(quizContent.type == 0)
            {
                $('#ref1Img').show()
                $('#ref2Img').show()
                $('#waveform').hide()
                $('#btnPlay').hide()
                $('#btnStop').hide()
                $('#btnReset').show()
                $('#btnHit').show()
                
                $('#ref1Img')[0].src = String(quizContent.sampleImageInfo.imageSample1.fileName)
                $('#ref2Img')[0].src = String(quizContent.sampleImageInfo.imageSample2.fileName)

                sessionStorage.setItem("QuizType", "0");
                        
            }else if(quizContent.type == 1)
            {
                $('#ref1Img').hide()
                $('#ref2Img').hide()
                $('#waveform').show()
                $('#btnPlay').show()
                $('#btnStop').show()
                $('#btnReset').hide()
                $('#btnHit').hide()
                wavesurfer.load(quizContent.sampleAudioInfo.audioFileFile);

                sessionStorage.setItem("QuizType", "1");
            }
            else if(quizContent.type == 2)
            {

            }
            else if(quizContent.type == 3)
            {
                $('#ref1Img').show()
                $('#ref2Img').hide()
                $('#waveform').hide()
                $('#btnPlay').hide()
                $('#btnStop').hide()
                $('#btnReset').hide()
                $('#btnHit').hide()

                $("#ref1Img").css('width', '150%')
                $('#ref1Img')[0].src = String(quizContent.sampleImageInfo.imageSample1.fileName)
                image_selection_boundary_startX = quizContent.sampleImageInfo.imageSample1.startX
                image_selection_boundary_startY = quizContent.sampleImageInfo.imageSample1.startY
                image_selection_boundary_endX = quizContent.sampleImageInfo.imageSample1.endX
                image_selection_boundary_endY = quizContent.sampleImageInfo.imageSample1.endY
             

                sessionStorage.setItem("QuizType", "3");
            }
        }

        function get_currentprogressBar_value()
        {
            return $('.progress-bar').attr('aria-valuenow')
        }

        window.addEventListener('load', (event) => {
            ShowWelComePage()
        });

        function updateProgressBar(value)
        {
            if(value == 0 )
                ShowWelComePage()
            else
                HideWelComePage()

            $("#progressBar").html(value+'%')
            $("#progressBar")[0].value = value
            $('.progress-bar').attr('aria-valuenow', value)
            $("#progressBar")[0].style.width = value + '%'
        }


        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'blue',
            progressColor: 'red'
        });

        function clickImage(e) {
            quizType = sessionStorage.getItem("QuizType");

            if( quizType !== "3")
            {
                image_selection_boundary_startX = 0
                image_selection_boundary_startY = 0 
                image_selection_boundary_endX = window.innerWidth;
                image_selection_boundary_endY = window.innerHeight;
            }else
            {
                startX = image_selection_boundary_startX + $("#ref1Img")[0].getBoundingClientRect().left 
                endX = image_selection_boundary_endX + $("#ref1Img")[0].getBoundingClientRect().left
                startY = image_selection_boundary_startY + $("#ref1Img")[0].getBoundingClientRect().top
                endY = image_selection_boundary_endY + $("#ref1Img")[0].getBoundingClientRect().top
                                
                //console.log('start X :' + startX )
                //console.log('end X :' + endX )
                //console.log('start Y :' + startY )
                //console.log('end Y :' + endY )
                //console.log('click stat X :' + e.clientX )
                //console.log('click stat Y :' + e.clientY )

                if(e.clientX >= startX && e.clientX <= endX &&  e.clientY >= startY && e.clientY <= endY)
                {
                    $("#ResultPanel").html('')
                    $("#ResultPanel").html('Hit')
                }else{
                    $("#ResultPanel").html('')
                }
            }
        }


        document.addEventListener("click", clickImage);

        $('#btnPlay').on('click', function () {
            wavesurfer.play();
        });

        $('#btnStop').on('click', function () {
            wavesurfer.load('../audio/heartbeat-01a.mp3');
        });

    </script>    
}


<body>
    <div class="row" style="margin-bottom:50px">
        <div class="progress" style="height:50px; width:100%">
          <div class="progress-bar" id="progressBar" title="Progress" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
     <div class="row" style="justify-content:center">
        <div class="col-6" style="text-align:center; height:auto">
            <a id="btnPrevPage" ><i title="Previous" class="fa fa-solid fa-angle-left" style="font-size:100px" aria-hidden="true"></i></a>
        </div>
        <div class="col-6 " style="text-align:center; height:100px" > 
            <a id="btnNextPage" class="btn "  aria-label="Settings"><i title="Next" class="fa fa-solid fa-angle-right" style="font-size:100px"></i></a>
        </div>
    </div>

    <div class="row" id="welcomePage" style="margin-top:100px; margin-bottom:100px; justify-content:center;" >
        <h1>Welcome to Quiz</h1>
    </div>
    <div class="row">    
        <div class="col-6">
            <img src="" id="ref1Img" style="width:100%"/>
        </div>
        <div class="col-6">
            <img src="" id="ref2Img" style="width:100%"/>
        </div>
    </div>

    <div class="row" style="justify-content:center">
        <p id="ResultPanel" style="background-color:powderblue; font-size:300%;"></p>
    </div>
    <div class="row" style="margin-top:100px; margin-bottom:100px; justify-content:center; height:100px">
        <div class="col-3" style="text-align:center; height:auto">
            <a id="btnReset" style="text-align:center; height:auto" ><i title="Reset" class="fa fa-solid fa-refresh" style="font-size:100px" aria-hidden="true"></i></a>
        </div>
        <div class="col-3" style="text-align:center; height:auto" > 
            <a id="btnHit" style="text-align:center; height:auto" ><i title="Answer" class="fa fa-solid fa-check" style="font-size:100px" aria-hidden="true"></i></a>
        </div>
    </div>
    
   
    
    
    <div id="waveform"></div>
    
    <div class="row" style="justify-content:center">
        <div class="col-1">
            <a id="btnPlay" style="text-align:center; height:auto" ><i title="play" class="fa fa-solid fa-play" style="font-size:30px"></i></a>
        </div>
        <div class="col-1">
            <a id="btnStop" style="text-align:center; height:auto" ><i title="play" class="fa fa-solid fa-stop" style="font-size:30px"></i></a>
        </div>
    </div>
    
</body>

